[project]
	description = All required files to start develop other functional modules.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Igor (igrowing)
[access "refs/for/refs/*"]
	read = group user/Igor (igrowing)
	push = group user/Igor (igrowing)
	label-Code-Review = -2..+2 group user/Igor (igrowing)
	label-Verified = -1..+1 group user/Igor (igrowing)
	rebase = group user/Igor (igrowing)
	removeReviewer = group user/Igor (igrowing)
	submit = group user/Igor (igrowing)
[access "refs/heads/*"]
	read = group user/Igor (igrowing)
	create = group user/Igor (igrowing)
	push = +force group user/Igor (igrowing)
	pushMerge = group user/Igor (igrowing)
[access "refs/tags/*"]
	push = group user/Igor (igrowing)
	push = +force group user/Igor (igrowing)
